.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
  opacity: 0.7;
  z-index: 1000;
}

.loader__content {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
    linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: heartFill 3s infinite linear;
}

#loader-wrap {
  -moz-animation: stopLoader 0s ease-in 3s forwards;
  -webkit-animation: stopLoader 0s ease-in 3s forwards;
  -o-animation: stopLoader 0s ease-in 3s forwards;
  animation: stopLoader 0s ease-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes heartFill {
  90%,
  100% {
    background-size: 100% 100%;
  }
}

@keyframes stopLoader {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.location {
  @include centerElement;
  font-family: $font-content;
  font-size: 1.5em;
  gap: 5px;
  padding: 30px;
  background: $color-background-grey;
}

.menuWrapper {
  text-align: center;
  background-color: $color-background-lightgrey;
  padding: 1.4rem;
  height: 260px;
  .menuDescription {
    font-weight: 300;
    margin: 2.2rem 0;
  }
}

h3 {
  @include centerElement;
  font-size: 1.5em;
  padding: 30px;
}

.fonctionnement {
  @include centerElement;
  .commande {
    margin-top: 50px;
  }
}

.commande__list {
  counter-reset: compteListe;
}

.commande__item {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  &:before {
    @include centerElement;
    color: white;
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: $color-primary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%, 50%);
  }
  &:hover {
    background: linear-gradient(#cd9cf2 0%, #f6f3ff 100%);
    .icon {
      color: $color-primary;
    }
  }
  .icon {
    margin-right: 10px;
  }
}
