.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
  opacity: 0.7;
  z-index: 1000;
}

.loader__content {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
    linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: heartFill 3s infinite linear;
}

#loader-wrap {
  -moz-animation: stopLoader 0s ease-in 3s forwards;
  -webkit-animation: stopLoader 0s ease-in 3s forwards;
  -o-animation: stopLoader 0s ease-in 3s forwards;
  animation: stopLoader 0s ease-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes heartFill {
  90%,
  100% {
    background-size: 100% 100%;
  }
}

@keyframes stopLoader {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.location {
  @include centerElement;
  font-family: $font-content;
  font-size: 1.5em;
  gap: 5px;
  padding: 30px;
  background: $color-background-grey;
}

.menuWrapper {
  text-align: center;
  background-color: $color-background-lightgrey;
  padding: 1.4rem;
  height: 260px;
  width: 100%;
  .menuDescription {
    font-weight: 300;
    margin: 2.2rem 0;
  }
}

.fonctionnement {
  @include centerElement;
  .commande {
    margin-top: 20px;
    width: 100%;
  }
}

.commande__list {
  counter-reset: compteurListe;
}

.commande__item {
  padding: 25px;
  margin: 40px 25px 40px 25px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 13%);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  &:before {
    @include centerElement;
    color: white;
    counter-increment: compteurListe 1;
    content: counter(compteurListe) " ";
    background: $color-primary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*center element*/
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
  &:hover {
    background: linear-gradient($color-primary 0%, #f6f3ff 100%);
    .icon {
      color: $color-primary;
    }
  }
  .icon {
    margin-right: 10px;
  }
}

.restaurantMain {
  background: $color-background-lightgrey;
  margin-top: 30px;
}

.restaurant__title {
  margin: 30px auto;
}
.restaurant {
  margin: 0 auto;
  // @include centerElement;
  .restaurantWrapper {
    margin: auto;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    article {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 30px;
      .card {
        background: $color-white;
        border-radius: 30px;
        border: 1px solid $color-background-lightgrey;
        box-shadow: 0px 4.01px 15.04px 0px #0000001a;
        // width: 340px;
        width: 100%;
        height: 550px;
        gap: 20px;
        opacity: 0px;
        text-decoration: none;
      }

      .restaurant__picture {
        position: relative;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        img {
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          height: 350px;
          width: 100%;
          object-fit: cover;
        }

        span {
          position: absolute;
          top: 1rem;
          right: 1.7rem;
          padding: 0.4rem;
          background: $color-lightgreen;
          color: $color-green;
          border-radius: 2px;
        }
      }

      .restaurant__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 20px auto 20px;
        color: $color-black;
      }
    }
  }
}
