body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuHeader {
  display: block;
  &--items {
    position: relative;
  }
  .arrowPrevious {
    text-decoration: none;
    color: $color-black;
    position: absolute;
    font-size: 40px;
    top: 15px;
    left: 30px;
    padding-right: 10px;
  }
  .menuHeader__title {
    font-family: $font-logo;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    padding: 15px;
  }
}

// MAIN
main {
  // height: 60vh;
  background-color: $color-background-lightgrey;
  // flex: 1;
  position: relative;
  img {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
  }
  .menuContainer {
    background-color: $color-background-lightgrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include centerElement;
    flex-direction: column;
    flex: 1;
    position: absolute;
    margin-top: -150px;
    width: 100%;
  }
  .restaurantContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid $color-background-lightgrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .restaurantName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    h1 {
      font-family: $font-logo;
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
    }
    @include breakpoints(desktop-up) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "title title title" "name name name";
    }
  }

  .restaurantMenuTitle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-area: title;
  }

  .titleMenu {
    padding: 20px;
    margin-right: 5px;
    // grid-area: name;
    h2 {
      text-transform: uppercase;
      font-weight: lighter;
      border-bottom: 3px solid $color-lightgreen;
      width: 3rem;
      line-height: 40px;
    }
    @include breakpoints(tablet-up) {
      width: 33, 33%;
    }
  }

  .descriptionMenu {
    padding: 0.5rem;
    display: flex;
    background: $color-white;
    border-radius: 0.75rem;
    margin: 20px 0;
    box-shadow: 0.25rem 0.25rem 1rem $color-black;
    overflow: hidden;
    cursor: pointer;
    @include breakpoints(tablet-up) {
      max-width: 80% !important;
    }
    // min-width: 100%;

    &:hover {
      .descriptionMenu__confirmation {
        margin-right: -1rem;
      }
      .descriptionMenu__wrapIcon {
        transform: rotate(0);
      }
    }
  }
  .descriptionMenu__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    h4 {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p {
      font-size: 16px;
    }
  }
  .descriptionMenu__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .descriptionMenu__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  .descriptionMenu__confirmation {
    background-color: $color-lightgreen;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }
  .descriptionMenu__wrapIcon {
    height: 2rem;
    width: 2rem;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  .descriptionMenu__icon {
    color: $color-lightgreen;
  }

  .btnCommande {
    text-align: center;
    min-height: 90px;
  }
}

.menuFooter {
  @include breakpoints(tablet-up) {
    bottom: -75rem;
  }
  @include breakpoints(mobile) {
    bottom: -75rem;
  }
  @include breakpoints(mobile-small) {
    bottom: -75rem;
  }
  @include breakpoints(mobile-down) {
    bottom: -77rem;
  }
  @include breakpoints(desktop) {
    bottom: -34rem;
  }
  @include breakpoints(desktop-up) {
    bottom: -34rem;
  }
  @include breakpoints(desktop-large) {
    bottom: -75rem;
  }
}
