// .container {
//   border: 1px solid green;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
// }
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  height: 95vh;
}
.menuHeader {
  display: block;
  &--items {
    position: relative;
  }
  .arrowPrevious {
    text-decoration: none;
    color: $color-black;
    position: absolute;
    font-size: 40px;
    top: 15px;
    left: 30px;
    padding-right: 10px;
  }
  .menuHeader__title {
    font-family: $font-logo;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    padding: 15px;
  }
}

// MAIN
main {
  height: 60vh;
  background-color: $color-background-lightgrey;
  // flex: 1;
  position: relative;
  img {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
  }
  .menuContainer {
    background-color: $color-background-lightgrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include centerElement;
    flex-direction: column;
    flex: 1;
    position: absolute;
    margin-top: -150px;
    width: 100%;
  }
  .restaurantContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-background-lightgrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .restaurantName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    h1 {
      font-family: $font-logo;
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
    }
  }

  .restaurantMenuTitle {
    display: inline-flex;
    justify-content: space-between;
  }

  .titleMenu {
    padding: 20px;
    margin-right: 5px;
    h2 {
      text-transform: uppercase;
      font-weight: lighter;
      border-bottom: 3px solid $color-lightgreen;
      width: 9%;
      line-height: 40px;
    }
  }

  .descriptionMenuWrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .checkMenuWrapper {
    background-color: $color-lightgreen;
    width: 50px;
    color: $color-white;
    overflow: hidden;
    white-space: nowrap;
  }

  .checkMenu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    color: black;
  }

  .descriptionMenu {
    min-width: 100%;
    background: $color-white;
    border: 1px solid $color-background-lightgrey;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    .dishWrapper {
      margin-left: 10px;
    }
  }
  .restaurantPrice {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    cursor: pointer;
    &:hover,
    &:active {
      transform: translateX(-100px);
      transition: transform 0.5s ease-in-out;
    }
  }

  .checkMenuWrapper {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    background-color: $color-lightgreen;
    margin-top: 18px;
    width: 5rem;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  .checkMenu {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition-duration: 0.5s;
  }

  // &:hover &__wrapIcon {
  //   transform: rotate(0);
  // }

  .checkMenu {
    color: $color-lightgreen;
    font-size: 50px;
  }

  .btnMenu {
    text-align: center;
    min-height: 90px;
  }
}

.menuFooter {
  bottom: -90rem;
}
