* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol {
  list-style: none;
}

h3 {
  font-size: 1.5em;
  padding: 30px 30px 0 30px;
}

.heart__icon {
  fill: transparent;
  stroke: black;
  stroke-width: 5;
  cursor: pointer;
  position: relative;
}
.heart__icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 155;
  }
  60% {
    stroke-dashoffset: 310;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
    transition: 5s ease-in-out forwards;
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 310;
    transition: 5s ease-in-out forwards;
  }
}
.heart {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  animation: stroke-animation 5s ease-in-out forwards;
  transition: fill 0.3s;
  color: #ffffff;
  background-color: black;
  background-clip: text;
  -web-background-clip: text;
  border: 1px solid transparent;
}
.heart:hover {
  -webkit-text-fill-color: initial;
  background: none;
  color: transparent;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart:hover::before {
  border-color: currentColor;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logoHeader {
  background: #ffffff;
  text-align: center;
}
header .logoHeader__logo {
  width: 162px;
  height: 44px;
  margin: 20px auto;
}

footer {
  position: absolute;
  width: 100%;
  height: 200px;
  background: #353535;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
footer .title__footer {
  margin-left: 15px;
  padding: 15px;
  font-size: 36px;
  font-style: italic;
  font-family: Shrikhand, sans-serif;
}
@media (min-width: 769px) {
  footer .title__footer {
    margin-top: 40px;
  }
}
footer .link__footer {
  margin-left: 30px;
}
footer .link__footer--item {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: left;
}
footer .link__footer a {
  color: #ffffff;
}
@media (min-width: 769px) {
  footer .link__footer a {
    margin-right: 20px;
  }
}
@media (min-width: 769px) {
  footer .link__footer--item {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
  }
}

.btnCallToAction {
  color: #ffffff;
  border-radius: 25px;
  width: 186px;
  padding: 15px;
  top: 50px;
  gap: 0px;
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}
.btnCallToAction:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  transition: 1s ease-in-out;
  background: linear-gradient(190deg, #9356dc 10%, #ff79da 120%);
  opacity: 0.8;
  transition: opacity 40ms;
}

.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.7;
  z-index: 1000;
}

.loader__content {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  width: 60px;
  aspect-ratio: 1;
  background-image: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  background-position: bottom;
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-color: #cccccc;
  animation: boxFill 3s infinite linear;
}

#loader-wrap {
  -moz-animation: stopLoader 0s ease-in 3s forwards;
  -webkit-animation: stopLoader 0s ease-in 3s forwards;
  -o-animation: stopLoader 0s ease-in 3s forwards;
  animation: stopLoader 0s ease-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes boxFill {
  90%, 100% {
    background-size: 100% 100%;
  }
}
@keyframes stopLoader {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  gap: 5px;
  padding: 30px;
  background: #eaeaea;
}

.bookingContainer {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 50px;
  min-height: 250px;
  width: 100%;
}
.bookingContainer .bookingDescription {
  font-weight: 300;
  margin: 2.2rem 0;
}

.fonctionContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

@media (min-width: 1024px) {
  .fonctionTitle,
  .restaurantTitle {
    text-align: center;
  }
}

.commande__list {
  counter-reset: compteurListe;
}
@media (min-width: 1024px) {
  .commande__list {
    display: flex;
    justify-content: center;
  }
}

.choice__item {
  padding: 25px;
  margin: 30px 15px 30px 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.choice__item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  counter-increment: compteurListe 1;
  content: counter(compteurListe) " ";
  background: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*center element*/
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.choice__item:hover {
  background: linear-gradient(#9356dc 0%, #f6f3ff 100%);
}
.choice__item:hover .icon {
  color: #9356dc;
}
.choice__item .icon {
  margin-right: 10px;
}

.restaurantMain {
  background: #f6f6f6;
  position: absolute;
  width: 100%;
}

.restaurant__title {
  margin: 30px auto;
}

.restaurant {
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
.restaurant .restaurantContainer {
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant .restaurantContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.restaurant .restaurantContainer article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.restaurant .restaurantContainer article .card {
  background: #ffffff;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  min-width: 100%;
  gap: 10px;
  text-decoration: none;
}
.restaurant .restaurantContainer article .restaurant__picture {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant .restaurantContainer article .restaurant__picture img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.restaurant .restaurantContainer article .restaurant__picture span {
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  padding: 0.4rem;
  background: #99e2d0;
  color: #008766;
  border-radius: 2px;
}
.restaurant .restaurantContainer article .restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px auto 20px;
  color: #353535;
}
.restaurant .restaurantContainer article .restaurant__name .infoItem {
  margin-bottom: 20px;
}

.homepageFooter {
  bottom: -98rem;
}
@media (min-width: 1024px) {
  .homepageFooter {
    bottom: -60rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
  .homepageFooter {
    bottom: -97rem;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menuHeader {
  display: block;
}
.menuHeader--items {
  position: relative;
}
.menuHeader .arrowPrevious {
  text-decoration: none;
  color: #353535;
  position: absolute;
  font-size: 40px;
  top: 15px;
  left: 30px;
  padding-right: 10px;
}
.menuHeader .menuHeader__title {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-size: 36px;
  text-align: center;
  padding: 15px;
}

main {
  position: relative;
}
main img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}
main .menuContainer {
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-top: -150px;
  width: 100%;
}
@media (min-width: 769px) {
  main .menuContainer {
    background-color: #f6f6f6;
    max-width: 80%;
    margin: 0 auto;
  }
}
main .restaurantMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (min-width: 769px) {
  main .restaurantMainContainer {
    background-color: #f6f6f6;
    width: 100%;
    margin-top: -50px;
  }
}
main .restaurantMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
@media (min-width: 769px) {
  main .restaurantMenuContainer {
    padding: 20px 150px 20px 150px;
  }
}
main .titleRestaurant {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (min-width: 769px) {
  main .titleRestaurant {
    justify-content: space-evenly;
  }
}
main .titleRestaurant h1 {
  font-family: Shrikhand, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-block: 0;
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  main .titleRestaurant h1 {
    font-size: 24px;
    margin-left: 3px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
  main .titleRestaurant h1 {
    font-size: 22px;
    margin-left: 3px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
  main .titleRestaurant .menu {
    margin-right: 25px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  main .titleRestaurant .menu {
    margin-right: 50px;
  }
}
@media (min-width: 769px) {
  main .titleRestaurant .menu {
    margin-right: 8px;
  }
}
main .titleMenu {
  margin-right: 5px;
}
main .titleMenu h2 {
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99e2d0;
  width: 3rem;
  line-height: 40px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
main .descriptionMenu {
  padding: 0.5rem;
  display: flex;
  background: #ffffff;
  border-radius: 0.75rem;
  margin: 20px 0;
  box-shadow: 0.25rem 0.25rem 1rem #353535;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
main .descriptionMenu:hover .descriptionMenu__confirmation {
  margin-right: -1rem;
}
main .descriptionMenu:hover .descriptionMenu__wrapIcon {
  transform: rotate(0);
}
main .descriptionMenu:first-child {
  animation: fadeInUp 0.5s forwards;
}
main .descriptionMenu:nth-child(1) {
  animation: fadeInUp 0.5s forwards 0.5s;
}
main .descriptionMenu:nth-child(2) {
  animation: fadeInUp 0.5s forwards 1s;
}
main .descriptionMenu:nth-child(3) {
  animation: fadeInUp 0.5s forwards 1.5s;
}
main .descriptionMenu:nth-child(4) {
  animation: fadeInUp 0.5s forwards 2s;
}
main .descriptionMenu:nth-child(5) {
  animation: fadeInUp 0.5s forwards 2.5s;
}
main .descriptionMenu:nth-child(6) {
  animation: fadeInUp 0.5s forwards 3s;
}
main .descriptionMenu:nth-child(7) {
  animation: fadeInUp 0.5s forwards 3.5s;
}
main .descriptionMenu:nth-child(8) {
  animation: fadeInUp 0.5s forwards 4s;
}
main .descriptionMenu__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
main .descriptionMenu__header h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .descriptionMenu__header p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .descriptionMenu__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
main .descriptionMenu__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
main .descriptionMenu__wrapIcon {
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
main .descriptionMenu__icon {
  color: #99e2d0;
}
main .btnCommande {
  text-align: center;
  min-height: 90px;
}

.menuFooter {
  bottom: -12.5rem;
}
