* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol {
  list-style: none;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 30px 30px 0 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logoHeader {
  background: #ffffff;
}
header .logoHeader__logo {
  width: 162px;
  height: 44px;
  margin: 20px auto;
}

footer {
  background: #353535;
  padding: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .title__footer {
  text-align: left;
  font-size: 36px;
  font-style: italic;
  font-family: Shrikhand, sans-serif;
}
footer .link__footer--item {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: left;
}
footer .link__footer a {
  color: #ffffff;
}

.btnCallToAction {
  color: #ffffff;
  border-radius: 25px;
  width: 186px;
  padding: 15px;
  top: 50px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.7;
  z-index: 1000;
}

.loader__content {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask: radial-gradient(circle at 60% 65%, #000 62%, rgba(0, 0, 0, 0) 65%) top left, radial-gradient(circle at 40% 65%, #000 62%, rgba(0, 0, 0, 0) 65%) top right, linear-gradient(to bottom left, #000 42%, rgba(0, 0, 0, 0) 43%) bottom left, linear-gradient(to bottom right, #000 42%, rgba(0, 0, 0, 0) 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: heartFill 3s infinite linear;
}

#loader-wrap {
  -moz-animation: stopLoader 0s ease-in 3s forwards;
  -webkit-animation: stopLoader 0s ease-in 3s forwards;
  -o-animation: stopLoader 0s ease-in 3s forwards;
  animation: stopLoader 0s ease-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes heartFill {
  90%, 100% {
    background-size: 100% 100%;
  }
}
@keyframes stopLoader {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  gap: 5px;
  padding: 30px;
  background: #eaeaea;
}

.menuWrapper {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1.4rem;
  height: 260px;
}
.menuWrapper .menuDescription {
  font-weight: 300;
  margin: 2.2rem 0;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .commande {
  margin-top: 20px;
}

.commande__list {
  counter-reset: compteurListe;
}

.commande__item {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.commande__item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  counter-increment: compteurListe 1;
  content: counter(compteurListe) " ";
  background: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*center element*/
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, 50%);
}
.commande__item:hover {
  background: linear-gradient(#9356dc 0%, #f6f3ff 100%);
}
.commande__item:hover .icon {
  color: #9356dc;
}
.commande__item .icon {
  margin-right: 10px;
}

.restaurantContainer {
  background: #f6f6f6;
  margin-top: 30px;
}

.restaurant__title {
  margin: 30px auto;
}

.restaurant {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant .restaurantWrapper {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 50px;
  position: relative;
}
.restaurant .restaurantWrapper article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
}
.restaurant .restaurantWrapper article .card {
  background: #ffffff;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  width: 340px;
  height: 250px;
  gap: 20px;
  opacity: 0px;
  text-decoration: none;
}
.restaurant .restaurantWrapper article .restaurant__picture {
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant .restaurantWrapper article .restaurant__picture img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 150px;
  width: 340px;
  object-fit: cover;
}
.restaurant .restaurantWrapper article .restaurant__picture span {
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  padding: 0.4rem;
  background: #99e2d0;
  color: #008766;
  border-radius: 2px;
}
.restaurant .restaurantWrapper article .restaurant__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px auto 20px;
  color: #353535;
}

/*# sourceMappingURL=style.css.map */
