$font-logo: Shrikhand, sans-serif;
$font-content: Roboto, sans-serif;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-background-lightgrey: #f6f6f6;
$color-background-grey: #eaeaea;
$color-darkgrey: #7e7e7e;
$color-white: #ffffff;
$color-black: #353535;
$color-lightgreen: #99e2d0;
$color-green: #008766;

@mixin centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: $font-content;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol {
  list-style: none;
}

h3 {
  @include centerElement;
  font-size: 1.5em;
  padding: 30px 30px 0 30px;
}

.heart__icon {
  fill: transparent;
  stroke: black;
  stroke-width: 5;
  cursor: pointer;
  position: relative;

  svg {
    overflow: visible;
    width: 30px;
  }

  path {
    stroke-dashoffset: 0;
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: stroke-animation 0.4s ease-in-out forwards;
  }

  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 0.4s ease-in-out forwards;
    stroke: none;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 155;
  }
  60% {
    stroke-dashoffset: 310;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: $color-primary;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 310;
    fill: $color-primary;
  }
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: $color-primary;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
