.resto {
  font: optional;
  font-size: medium;
}
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-background-lightgrey: #f6f6f6;
$color-background-grey: #eaeaea;
$color-darkgrey: #7e7e7e;
$color-white: #ffffff;
$color-black: #353535;
$color-lightgreen: #99e2d0;
$color-green: #008766;

header {
  img {
    width: 162px;
    height: 44px;
    margin-top: auto;
  }
}
